In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('./Data/analysis_data.csv',encoding='utf-16')

In [10]:
project_list = [1000414645,
1002877193,
1002950518,
1006560474,
1006860742,
1009113591,
1009383623,
1009609091,
1012175769,
1013053219]

In [ ]:
new_df = pd.DataFrame

In [15]:
test_df = df[df['Project_Id'].isin(project_list)]

In [18]:
test_df[['Project_Id','Success']]

    Project_Id  Success
0   1000414645        1
1   1002877193        1
2   1002950518        1
3   1006560474        1
4   1006860742        0
5   1009113591        1
6   1009383623        0
7   1009609091        0
8   1012175769        1
10  1013053219        0

In [16]:
test_df.to_csv('sample_video.csv',index=False)